@import "vars";
@import "global";
@import "fonts";

.header {
	background: rgba(0, 0, 0, 0.3);
	background-image: url(../images/header-bg.jpg);
	height: 100vh;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
	position: relative;
}
.header__menu-btn {
	width: 35px;
	cursor: pointer;
	div {
		background-color: #fff;
		height: 4px;
		& + div {
			margin-top: 8px;
		}
	}
}
.header__menu-item {
	display: none;
	// position: relative;
}
.header__menu-item.active {
	display: block;
}
.header__menu-item {
	background-color: #0f0f0f;
	position: absolute;
	left: 0;
	top: 0;
	max-width: 745px;
	width: 100%;
	font-family: Jura;
	font-size: 24px;
	line-height: 28px;
	height: 100vh;
	.menu__box {
		padding-top: 120px;
		padding-left: 150px;
	}
	.menu__logo {
		background-image: url(../images/logo.png);
		width: 204px;
		height: 95px;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: top center;
		margin-bottom: 61px;
	}
	.nav {
		&__list {
			display: flex;
			ul {
				width: 285px;
				li {
					& + li {
						margin-top: 35px;
					}
				}
			}
		}
		&__link {
			position: relative;
			&::before {
				content: "";
				position: absolute;
				left: 0;
				bottom: -10px;
				width: 0;
				height: 2px;
				background-color: #fff;
				transition: width 0.15s;
			}
			&:hover {
				&::before {
					width: 100%;
				}
			}
			&-active {
				&::before {
					width: 100%;
				}
			}
		}
	}
	.menu__time {
		margin-top: 310px;
	}
}
.header__menu-social {
	position: absolute;
	top: 0;
	right: -254px;
	width: 254px;
	height: 85px;
	display: flex;
	align-items: center;
	margin: auto;
	.menu__closed {
		background-color: #fff;
		width: 85px;
		height: 85px;
		position: relative;
		&::before {
			content: "";
			position: absolute;
			background-image: url(../images/cancel.svg);
			width: 50px;
			height: 50px;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}
	.menu__instagram {
		position: relative;
		left: 40px;
		&::before {
			content: "";
			position: absolute;
			background-image: url(../images/instagram.svg);
			width: 35px;
			height: 30px;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}
	.menu__vkontakte {
		position: relative;
		left: 125px;
		&::before {
			content: "";
			position: absolute;
			background-image: url(../images/vk.svg);
			width: 45px;
			height: 40px;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}
}
.header__inner {
	padding-top: 75px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header__phone {
	font-family: "Forum", cursive;
	font-size: 24px;
	line-height: 26px;
	color: #ffffff;
}
.header__btn {
	background: #ffffff;
	box-shadow: 0px 5px 25px rgba(255, 255, 255, 0.48);
	border-radius: 10px;
	font-family: "Forum", cursive;
	font-size: 24px;
	line-height: 26px;
	color: #000000;
	padding: 28px 52px 31px;
	margin-left: 25px;
}
.header__title {
	font-family: "Forum", cursive;
	padding-top: 190px;
	margin: auto 0;
	padding-left: 190px;
}
.header__logo {
	background-image: url(../images/logo.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	width: 176px;
	height: 86px;
	margin-bottom: 35px;
}
.header__text {
	font-size: 72px;
	line-height: 79px;
	width: 500px;
	color: #ffffff;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.header__bottom {
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;
}
.header__bottom-link {
	margin: 0 auto;
	font-size: 36px;
	line-height: 43px;
	color: #ffffff;
	text-align: center;
	border: 2px solid #ffffff;
	border-radius: 50% 50% 0 0 / 100% 100% 0 0;
	width: 200px;
	height: 100px;
	padding: 35px;
}

.services {
	margin-bottom: 100px;
	.header__logo {
		margin-bottom: 11px;
	}
	.header__title {
	}
	.header__text {
		font-size: 75px;
		line-height: 83px;
		width: 600px;
		margin-bottom: 23px;
	}
	.header__title-text {
		max-width: 960px;
		font-family: "Jura", sans-serif;
		font-size: 24px;
		line-height: 28px;
	}
}

// start about
.about {
	padding: 200px 0 0;
}
.about__item {
	margin-bottom: 170px;
	padding: 121px 0 205px;
	background-repeat: no-repeat;
	background-position: right;
}
.about__box {
	max-width: 644px;
	position: relative;
}
.about__box-title {
	margin-bottom: 18px;
}
.about__box-text {
}

// end about

// start advantage

.advantage__title {
	margin-bottom: 92px;
}
.advantage__box {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 156px;
}
.advantage__item {
	padding: 40px;
	width: 472px;
	border: 7px solid #ffffff;
	box-sizing: border-box;
	box-shadow: 0px 5px 25px rgba(255, 255, 255, 0.61);
	border-radius: 10px;
	margin-bottom: 80px;
	position: relative;
	&::before,
	&::after {
		content: "";
		position: absolute;
		border: 4px solid #ffffff;
		border-radius: 4px;
		box-shadow: 0px 5px 25px rgba(255, 255, 255, 0.61);
	}
	&::before {
		width: 30px;
		top: -7px;
		left: -30px;
	}
	&::after {
		height: 30px;
		top: -30px;
		left: -7px;
	}
}
// end advantage

// start programs
.programs__item {
	display: flex;
	justify-content: space-between;
	margin: 100px 50px 200px;
	position: relative;
	&::before {
		content: "";
		position: absolute;
		bottom: -100px;
		height: 10px;
		width: 1577px;
		left: -110px;
		background: #fff;
		box-shadow: 0px 5px 25px rgba(255, 255, 255, 0.48);
		border-radius: 3px;
	}
}
.programs__item:nth-last-child(1)::before {
	content: "";
	background: transparent;
	box-shadow: none;
}
.programs__item:nth-child(odd) {
	flex-direction: row-reverse;
	.programs__box {
		padding-left: 50px;
	}
}

.programs__item-img {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	img {
		border-radius: 10px;
	}
}
.programs__box {
	max-width: 668px;
}
.programs__border {
	margin: 0 -105px;
}
.programs__item-title {
	margin-bottom: 25px;
}
.programs__item-text {
	margin-bottom: 46px;
}
.programs__item-box {
	display: flex;
	.programs__item-btn:first-child {
		margin-right: 30px;
		background-color: #fff;
		color: #131313;
	}
}
.programs__services {
	.programs__item:nth-child(odd) {
		.programs__box {
			padding: 0;
		}
	}
	.programs__item-title {
		font-size: 36px;
		line-height: 40px;
		margin-bottom: 10px;
	}
	.programs__item-text {
		font-family: "Jura", sans-serif;
		font-size: 18px;
		line-height: 21px;
		margin-bottom: 41px;
	}
	.programs__item-items {
		display: flex;
		font-family: "Jura", sans-serif;
		margin-bottom: 35px;
	}
	.programs__item-time {
		width: 180px;
		margin-right: 40px;
	}
	.item__title {
		font-weight: 600;
		font-size: 24px;
		line-height: 28px;
	}
	.item__subtitle {
		font-size: 18px;
		line-height: 21px;
	}
	.programs__item-price {
		font-size: 24px;
		line-height: 28px;
		margin-bottom: 30px;
		span {
			font-weight: 600;
		}
	}
	.price__body {
		margin-bottom: 10px;
	}
}
.programs__training {
	.header__text {
		font-size: 75px;
		line-height: 83px;
		width: 760px;
		margin-bottom: 23px;
	}
	.programs__training {
		margin-top: 100px;
	}
	.programs__item-title {
		font-size: 36px;
		line-height: 40px;
		margin-bottom: 10px;
	}
	.programs__item-text {
		font-size: 18px;
		line-height: 21px;
		margin-bottom: 34px;
	}
	.item__subtitle {
		font-size: 18px;
		line-height: 21px;
		margin-bottom: 30px;
	}	
	.item-btn {
		font-family: "Forum", cursive;
		font-size: 26px;
		line-height: 29px;
	}
	.programs__item::before {
		content: "";
		position: absolute;
		bottom: -100px;
		height: 10px;
		width: 1577px;
		left: -110px;
		background: #fff;
		box-shadow: 0px 5px 25px rgba(255,255,255,0.48);
		border-radius: 3px;
  }
}
.programs__online{
	.programs__title{
		margin-bottom: 85px;
	}
}
.question {
	margin-bottom: 161px;
}
.question__item {
	font-family: "Forum", cursive;
	font-size: 48px;
	line-height: 53px;
	width: 1330px;
	margin: 0 auto;
	padding: 39px 40px;
	border: 5px solid #ffffff;
	box-shadow: 0px 5px 25px rgba(255, 255, 255, 0.61);
	border-radius: 10px;
	position: relative;
	margin-bottom: 41px;
	&::before {
		content: "";
		position: absolute;
		background-image: url(../images/plus.svg);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		width: 50px;
		height: 50px;
		right: 38px;
		// top: 0;
	}
}
.question__info-title {
	ont-family: "Forum", cursive;
	font-size: 48px;
	line-height: 53px;
	margin-bottom: 50px;
}
.question__info {
	width: 1330px;
	margin: 0 auto;
	padding: 39px 40px;
	border: 5px solid #ffffff;
	box-shadow: 0px 5px 25px rgba(255, 255, 255, 0.61);
	border-radius: 10px;
	position: relative;
	&::before {
		content: "";
		position: absolute;
		background-image: url(../images/closed.svg);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		width: 50px;
		height: 50px;
		right: 38px;
		// top: 0;
	}
}
// end programs

// start gallery
.gallery {
	.slick-slide {
		margin: 0 18px;
	}
}
.gallery__box {
	display: flex;
	justify-content: center;
	align-items: center;
}
.gallery__title {
	margin-bottom: 62px;
}
.gallery__text {
	margin-bottom: 67px;
}
.gallery__box {
	font-size: 36px;
	margin-bottom: 34px;
}
.gallery__box-text {
	margin-right: 185px;
}
.gallery__box-number {
	margin-left: 185px;
}
.gallery__slider {
	width: 100%;
	margin: 0 auto;
	.slick-arrow {
		border: none;
		width: 37px;
		height: 37px;
		background-color: transparent;
		cursor: pointer;
		position: absolute;
		bottom: -64px;
		left: 50%;
		z-index: 5;
		transform: translateX(-50%);
	}
	.click-prev {
		transform: translateX(30px);
	}
	.click-next {
		transform: translateX(-30px);
	}
}

// end gallery

// start certificate

.certificate__title {
	margin-top: 140px;
	margin-bottom: 75px;
}
.certificate__item {
	background-repeat: no-repeat;
	background-position: right;
	background-position: left;
	margin-bottom: 127px;
}
.certificate__item-box {
	padding: 136px 0 207px;
	width: 640px;
	margin-left: auto;
}
// end certificate

// start form
.form__section {
	background: #131313;
	border: 7px solid #ffffff;
	box-shadow: 0px 5px 25px rgba(255, 255, 255, 0.61);
	border-radius: 10px;
	padding: 68px 112px 76px 80px;
	margin-bottom: 120px;
	.form__title {
		font-family: "Forum", cursive;
		font-size: 36px;
		line-height: 40px;
	}
}
.form__section-box {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	margin-bottom: 92px;
}
.form__section-title {
	font-family: "Forum", cursive;
	font-size: 48px;
	line-height: 53px;
	width: 847px;
}
.form-btn {
	width: 190px;
	height: 80px;
	border: 1px solid #ffffff;
}
.btn__standart {
	border-radius: 10px 0 0 10px;
	display: block;
	float: left;
}
.btn__denomination {
	background: #131313;
	border-radius: 0px 10px 10px 0px;
	color: #fff;
}
.form__wrapper {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}
.form__item-box {
	width: 530px;
	.form__item {
		.form__title {
			margin-right: 51px;
		}
		.form__item-select {
			width: 377px;
		}
	}
}
.form__wrapper {
	.form__item-time {
		.form__item-select {
			width: 247px;
		}
	}
}
.form__item,
.form__item-time {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 60px;
}
.form__item-time {
	display: flex;
	justify-content: space-between;
	width: 815px;
	margin-bottom: 60px;
	select {
		width: 247px;
		padding-left: 30px;
	}
	.form__number {
		text-align: center;
		border: 3px solid #ffffff;
		border-radius: 10px;
		width: 200px;
		height: 100px;
		font-size: 48px;
		line-height: 57px;
		padding: 15px 21px;
	}
}
.form__fullname {
	display: flex;
	align-items: center;
	.form__title {
		margin-right: 75px;
	}
	input {
		width: 608px;
		height: 100px;
		border: 3px solid #ffffff;
		box-sizing: border-box;
		border-radius: 10px;
		margin-right: 60px;
		padding-left: 40px;
		font-size: 36px;
		line-height: 43px;
		background-color: #131313;
	}
	.form__checkout {
		font-family: "Forum", cursive;
		background: #ffffff;
		border: 3px solid #ffffff;
		border-radius: 10px;
		width: 266px;
		height: 100px;
		font-size: 36px;
		line-height: 40px;
		color: #131313;
		margin-right: 27px;
	}
	.form__cost {
		font-size: 48px;
		line-height: 57px;
	}
}
.form__or {
	font-family: "Forum", cursive;
	font-size: 72px;
	text-align: center;
	display: flex;
	align-items: center;
	margin-bottom: 120px;
}
.form__or::before,
.form__or::after {
	content: "";
	border-top: 8px solid #ffffff;
	box-shadow: 0px 5px 25px rgba(255, 255, 255, 0.48);
	border-radius: 3px;
	width: 100%;
}
.form__or::before {
	margin-right: 68px;
}
.form__or::after {
	margin-left: 68px;
}

.form__subscription-box {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	.form__checkout {
		font-family: "Forum", cursive;
		background: #ffffff;
		border: 3px solid #ffffff;
		border-radius: 10px;
		width: 460px;
		height: 100px;
		font-size: 36px;
		line-height: 40px;
		color: #131313;
		margin-right: 27px;
		margin-bottom: 35px;
	}
	.form__cost {
		font-size: 48px;
		line-height: 57px;
	}
}
.form__subscription {
	margin: 0;
}
.form__subscription,
.form__section {
	.jq-selectbox {
		border: 3px solid #ffffff;
		border-radius: 10px;
		width: 449px;
		height: 100px;
		li:hover {
			background: none;
		}
		.jq-selectbox__select {
			width: 100%;
			height: 100%;
			display: flex;
			align-items: center;
			font-family: "Jura", sans-serif;
			font-size: 32px;
			line-height: 38px;
			color: #fff;
			background: transparent;
			box-shadow: none;
			border-radius: 0;
			text-shadow: none;
			border: none;
			.jq-selectbox__select-text {
				padding-left: 40px;
				width: 100%;
			}
		}
		.jq-selectbox__dropdown {
			// position: absolute;
			// width: 102%;
			// left: -5px;
			// top: -5px;
			li {
				display: flex;
				align-items: center;
				height: 100px;
				font-family: "Jura", sans-serif;
				font-style: normal;
				font-weight: normal;
				padding-left: 50px;
				font-size: 32px;
				line-height: 38px;
				color: #000000;
				& + li {
					border-top: 1px solid #131313;
				}
			}
		}

		.jq-selectbox__trigger-arrow {
			position: absolute;
			top: 15px;
			right: 20px;
			width: 0;
			height: 0;
			border: none;
		}
		.jq-selectbox__trigger {
			background-image: url(../images/arrow-down.svg);
			width: 37px;
			height: 19px;
			top: 40px;
			right: 20px;
			border-left: none;
		}
		.jq-selectbox__select::hover {
			background: transparent;
			box-shadow: none;
		}
		.jq-selectbox.focused .jq-selectbox__select {
			border: none;
		}
	}
	.jq-selectbox__dropdown {
		background: #ffffff;
		// border: 3px solid #ffffff;
		border-radius: 10px;
		width: 100%;
		&.jq-selectbox__trigger-arrow {
			&::before {
				content: "";
				background-image: url(../images/arrow-up.svg);
				z-index: 10;
			}
		}
	}
	.jq-selectbox li.selected {
		border: #131313;
		background: #131313;
		color: #fff;
	}
}
.form__massage,
.form__amount {
	display: flex;
	align-items: center;
	margin-bottom: 60px;
}
.form__massage {
	margin-right: 126px;
}
.form__massage,
.form__amount {
	.form__title {
		margin-right: 60px;
	}
}
.form__subscription {
	.form__section {
		padding-right: 80px;
	}
}

.form__subscription-title {
	font-family: "Forum", cursive;
	font-style: normal;
	font-weight: normal;
	font-size: 72px;
	line-height: 79px;
	margin-bottom: 70px;
}
.form__phone {
	color: #fff;
	width: 400px;
}
.form__massage {
	.form__massage-select {
		width: 449px;
	}
}
.form__amount {
	.form__massage-select {
		width: 317px;
	}
}
.form__subscription-box {
	.form__fullname-input {
		width: 608px;
		margin-right: 40px;
	}
	.form__fullname {
		margin-bottom: 60px;
		.form__title {
			margin-right: 90px;
		}
		.form__phone {
			width: 400px;
			margin-right: 0;
			margin-left: -40px;
		}
	}
}

// end form

// start comment
.comment {
	padding: 97px 100px;
	background: #e5e5e5;
	color: #000;
	.container-content {
		padding: 0 67px;
	}
}
.comment__title {
	margin-bottom: 77px;
}
.comment-title {
	font-family: "Forum", cursive;
	font-size: 36px;
	line-height: 40px;
	margin-bottom: 17px;
	max-width: 410px;
	padding: 5px 5px 5px 0;
}
.comment-text {
	font-size: 21px;
	line-height: 25px;
	max-width: 626px;
	margin-bottom: 51px;
}
.comment__slider-shadow {
	box-shadow: 0px 4px 19px rgba(0, 0, 0, 0.25);
}

.comment__slider {
	max-width: 1326px;
	margin: 0 auto;
	.slick-arrow {
		border: none;
		border-radius: 50%;
		width: 85px;
		height: 85px;
		background: #ffffff;
		// box-shadow: 0px 4px 19px rgba(0, 0, 0, 0.25);
		cursor: pointer;
		position: absolute;
		top: 40%;
		transform: translateY(-50%);
		z-index: 5;
	}
	.click-prev {
		right: -125px;
	}
	.click-next {
		left: -125px;
	}
	.slick-dots button {
		width: 15px;
		height: 15px;
		border-radius: 50%;
		background-color: #adadad;
		border: none;
		padding: 0;
		font-size: 0;
		cursor: pointer;
		outline: none;
	}
	.slick-dots .slick-active button {
		background-color: #222;
	}
	.slick-dots li {
		display: inline-block;
		margin: 0 15px;
	}
	.slick-dots {
		margin-left: 50%;
		transform: translateX(-50px);
		// translate: transform;
		// margin-right: 0;
	}
}
.comment__slider-item {
	align-items: center;
	background: #fff;

	border-radius: 10px;
	display: block;
}
.comment__slider-text {
	max-width: 826px;
	padding: 58px 82px 51px 45px;
	margin: 0;
}
.comment__slider-box {
	display: flex;
	background-repeat: no-repeat;
	background-size: cover;
	min-width: 500px;
	min-height: 100%;
}
.comment__slider-email {
	display: block;
	margin-top: 29px;
	font-size: 36px;
	font-weight: 600;
}
.slick-track {
	box-shadow: 0px 7px 31px rgba(0, 0, 0, 0.25);
}
// end comment

// start footer
.footer {
	padding: 105px 0;
}
.footer__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.footer__info {
	font-family: "Forum", cursive;
	padding: 45px;
	margin-right: 45px;
}
.footer__logo {
	margin-bottom: 30px;
}
.footer__content-title {
	font-size: 36px;
	line-height: 40px;
	margin-bottom: 27px;
}
.footer__content-phone {
	display: block;
	font-size: 24px;
	line-height: 26px;
}
.footer__content-address {
	margin-top: 13px;
	font-size: 24px;
	line-height: 26px;
	margin-bottom: 39px;
}
.footer__social {
	display: flex;
}
.social-vk {
	margin-right: 18px;
}
.footer__social-vk {
	background-image: url(../images/vkontakte.svg);
	width: 57px;
	height: 57px;
	cursor: pointer;
}
.footer__social-instagram {
	background-image: url(../images/instagram-sketched.svg);
	width: 57px;
	height: 57px;
	cursor: pointer;
}
.footer__map {
	max-width: 1020px;
	width: 100%;
}
.footer__map iframe {
	width: 100%;
}
// end footer
